
button{
  margin: 10px;
  width: 30px;
}

.counterDiv{
  margin-left: 700px;
  margin-top: 300px;
  background-color: burlywood;
  height: 200px;
  width: 500px;
  padding-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
}
h2{
  margin-left: 150px;
  font-size: 25px;

}
section{
  margin-left: 195px;
}
span{
  font-size: 20px;
}
